body {
    background-color: hotpink;
}

#container, #banner {
    width: 100%;
}

#container {
    height: auto;
}

#banner {
    height: 120px;
    background-color: purple;
}

#sidebar {
    width: 20%;
    min-height: 520px;
    float: right;
    background-color: lavender;
}

#main {
    width: 80%;
    min-height: 520px;
    float: left;
}